/* BG Styles First */
.home-styles-dark {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgb(51, 43, 56), rgb(47, 41, 59)) fixed;
    z-index: 0;
    overflow: hidden;
}

.home-styles-dark div {
    position: absolute;
    border: solid 0.426vh rgba(145, 84, 109, 0.4);
    background: none;
    transition: transform 0.2s ease;
}

.home-styles-dark div:hover {
    transform: rotate(0deg);
}

.home-styles-dark #grey {
    display: none;
}





/* BG Styles Second */
.home-styles-second-dark {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(180deg, rgb(52, 66, 68), rgb(41, 48, 59)) fixed;
    overflow: hidden;
    background-color: black;
}

.home-styles-second-dark div {
    position: absolute;
}

.home-styles-second-dark div {
    position: absolute;
    border: solid 0.426vh rgba(145, 84, 109, 0.4);
    background: none;
    transition: transform 0.2s ease;
}


@media screen and (max-width: 500px) {
    .home-styles-dark div, .home-styles-second-dark div {
        scale: 90%;
    }
}